*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*This makes this container a flex container and its children nav items*/

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav_links{
    /* Default flex direction is row, horizontal */
    display: flex; 
}

li, a{
    list-style: none;
    color: black;
    font-size: 18px;
    margin: 15px;
    text-decoration: none;
}

.logo{
    font-size: 35px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.download_btn{
    background-color: #30bf8f;
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    color: white;
}

/* SECTION */
.intro_section{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.title_intro{
    margin-top: 45px;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
}

.lobe_title_intro{
    padding-right: 10px;
}
.tour_title_intro{
    color: #30bf8f;
}

.intro_content{
    font-size: 18px;
    margin-top: 8px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.img_section{
    margin-top: 45px;
    width: 50%;
}

.content_section{
    text-align: center;
    font-size: 30px;
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

.content_download_btn{
    margin-top: 25px;
    background-color: #30bf8f;
    padding: 12px;
    width: 130px;
    border-radius: 35px;
    border-style: none;
    color: white;
}

/* FOOTER */

.footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}


#footer_link{
    font-weight: 700;
}

#comment_icon, #twitter_icon, #youtube_icon{
    font-size: 20px;
    margin-top: 10px;
    padding-left: 10px;
}


/* Screen size for phone */
@media screen and (max-width: 780px) {
    
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container{
        margin: 10px;
    }

    .logo{
        font-size: 22px;
    }
    #hambuger{
        margin-left: auto;
    }
    
    .nav_links{
        display: none;
    }

    .download_btn{
        display: none;
    }

    /* Section */
    .title_intro{
        margin-top: 10px;
    }

    .lobe_title_intro{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }

    .intro_content{
        font-size: 0.9rem;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .img_section{
        margin-top: auto;
    }
    .content_section{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .footer{
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

}